.hn {
  clear: both;
  display: block;
  width: 600px;
  margin: auto;
  margin-top: 40px;
  color: #000 !important;
  background-color: #f27800;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
}
a,
a:visited {
  color: #5f7ea9;
  text-decoration: none;
}
a:hover,
a:visited:hover {
  color: #5f7ea9;
  text-decoration: underline;
}
body {
  background-color: #eee;
}
body section {
  clear: both;
  margin: auto;
  overflow: hidden;
  padding-top: 50px;
  width: 920px;
}
body section h2 {
  border-bottom: 1px dotted #CCCCCC;
  padding-bottom: 20px;
  text-align: center;
}
body #left {
  width: 520px;
  float: left;
}
body header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 20px 0 20px;
}
body header #top {
  width: 760px;
  margin: auto;
}
body header #top img {
  float: left;
  margin-right: 40px;
}
body header #top h1 {
  color: #000;
  font-weight: normal;
  text-align: left;
  font-size: 45px;
  margin: 0;
}
body header #top p {
  font-size: 13px;
  color: #666;
  text-align: left;
  margin: 10px auto 0;
}
body .label {
  text-align: right;
  width: 200px;
  font-size: 12px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  color: #555;
  clear: both;
}
body .label strong {
  padding-bottom: 5px;
  display: block;
  font-size: 14px;
  color: #000;
}
body .after {
  text-align: left;
  width: 20px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  color: #555;
}
body .after strong {
  display: block;
  font-size: 14px;
  color: #000;
}
body .input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 300px;
}
body .sorter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  padding: 20px;
  text-align: center;
}
body .sorter #sort {
  border: 1px solid #4a658b;
  box-shadow: 0 1px rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 1px rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.3) inset;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#8099bb), to(#5f7ea9));
  background-image: linear-gradient(#8099bb, #5f7ea9);
  background-image: -moz-linear-gradient(#8099bb, #5f7ea9);
  background-image: -webkit-linear-gradient(#8099bb, #5f7ea9);
  background-color: #5f7ea9;
  color: #FFFFFF;
  font-size: 23px;
  margin-left: 170px;
  padding: 10px 40px;
  text-shadow: 0 1px 1px #000000;
}
body .sorter #sort:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5f7ea9), to(#4a658b));
  background-image: linear-gradient(#5f7ea9, #4a658b);
  background-image: -moz-linear-gradient(#5f7ea9, #4a658b);
  background-image: -webkit-linear-gradient(#5f7ea9, #4a658b);
}
body .sorter #sort:disabled {
  background-color: #888;
  border: 1px solid #919191;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c3c3c3), to(#aaaaaa));
  background-image: linear-gradient(#c3c3c3, #aaaaaa);
  background-image: -moz-linear-gradient(#c3c3c3, #aaaaaa);
  background-image: -webkit-linear-gradient(#c3c3c3, #aaaaaa);
}
body .waiting-sadly {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  margin-left: 170px;
  padding-top: 10px;
}
body .waiting-sadly .sad-waiter {
  position: relative;
  width: 128px;
  height: 137px;
  margin: 0 auto;
  background-image: url(../waiting.png);
  height: 0;
}
body .waiting-sadly .sad-waiter .hour {
  display: none;
  position: absolute;
  bottom: 113px;
  right: 22px;
  width: 0;
  height: 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 15px solid black;
  -webkit-animation: clockHand 18s linear infinite;
  -moz-animation: clockHand 18s linear infinite;
  -ms-animation: clockHand 18s linear infinite;
  animation: clockHand 18s linear infinite;
}
body .waiting-sadly .sad-waiter .minute {
  display: none;
  position: absolute;
  bottom: 113px;
  right: 22px;
  width: 0;
  height: 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 17px solid black;
  -webkit-animation: clockHand 1.5s linear infinite;
  -moz-animation: clockHand 1.5s linear infinite;
  -ms-animation: clockHand 1.5s linear infinite;
  animation: clockHand 1.5s linear infinite;
}
body .textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ddd;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #fff;
  padding: 10px;
}
body .textarea textarea {
  border: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  height: 60px;
  resize: none;
}
body textarea.textarea {
  height: 80px;
  resize: none;
}
body #answer-used {
  text-align: right;
  border-top: 1px dotted #ddd;
  font-size: 12px;
  padding-top: 10px;
  color: #999;
}
#right {
  padding-left: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 400px;
  float: left;
}
#right strong {
  display: block;
  font-size: 14px;
  color: #000;
}
#right #logger {
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  height: 430px;
  overflow: auto;
  padding: 10px 15px 15px;
}
#right #logger .log-error {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 5px;
  padding-top: 2px;
  padding-left: 0px;
  font-size: 11px;
  color: #a71010;
}
#right #logger .log-out {
  font-size: 11px;
  color: #a71010;
  border: 1px solid #ccc;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  background-color: #eee;
  padding: 10px;
}
#right #logger .log-success {
  font-size: 11px;
  color: green;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 5px;
  padding-top: 2px;
  padding-left: 0px;
}
#right #logger .log-trying {
  font-weight: bold;
  padding-top: 5px;
}
#right #logger .oc {
  color: #777777;
  padding: 170px 0;
  text-align: center;
}
#stopper {
  padding: 5px;
  font-size: 11px;
  text-align: center;
}
#stopper.hide {
  visibility: hidden;
}
.done {
  display: none;
}
.done #no {
  background-color: #f4e26a;
  border: 1px solid #e7cb11;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  display: block;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  color: #333;
  text-decoration: none;
}
.done #no:hover {
  background-color: #f0d93b;
  border: 1px solid #b7a10e;
}
.done #no strong {
  font-weight: bold;
  color: #000;
}
.done .desc {
  border-right: 1px dotted #ccc;
  padding-right: 20px;
  margin-right: 20px;
}
.done .tweet,
.done .desc {
  margin-top: 20px;
  font-size: 12px;
  float: left;
  width: 129px;
}
.done .tweet a,
.done .desc a {
  display: block;
  padding: 3px 0 3px 10px;
}
.done .tweet strong,
.done .desc strong {
  display: block;
}
#questions {
  border-top: 1px dotted #ccc;
  margin-top: 60px;
  margin-bottom: 60px;
}
#questions .question {
  width: 300px;
  background-repeat: no-repeat;
  font-size: 12px;
  min-height: 131px;
  float: left;
}
#questions .question.q1 {
  background-image: url("../classhole.png");
  padding-left: 120px;
}
#questions .question.q2 {
  background-image: url("../otherguy.png");
  background-position: right top;
  border-left: 1px dotted #CCCCCC;
  margin-left: 39px;
  padding-left: 39px;
  padding-right: 120px;
}
#about {
  font-size: 12px;
  text-align: center;
  color: #555;
  margin-bottom: 60px;
}
#about div {
  color: #888;
  font-size: 11px;
  padding-top: 11px;
}
@keyframes clockHand {
  from {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes clockHand {
  from {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes clockHand {
  from {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
